<html ng-app>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>

</head>
<body>

<table ng-controller='RestaurantTableController'>
				<tr ng-repeat='restaurant in directory' ng-click='selectRestaurant($index)'
				ng-class='{selected: $index==selectedRow}'>
				<td>{{restaurant.name}}</td>
				<td>{{restaurant.cuisine}}</td>
				</tr>
</table>
<script type="text/javascript">
		function RestaurantTableController($scope) {
$scope.directory = [{name:'The Handsome Heifer', 																											cuisine:'BBQ'},
																			{name:'Greens Green Greens', cuisine:'Salads'},
																		{ name:'House of Fine Fish', cuisine:'Seafood'}];

			$scope.selectRestaurant = function(row) {
			$scope.selectedRow = row;
			};
	}
</script>

</body>
</html>